
*,*:before,*:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
/* page 2 */
.container-page2 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


/* left side */

.page2-left, .page2-right {
    flex: 1;
    height: 100%;
}

.page2-left {
    background-color: #e8a83b;   
}

.emphasis-3 {
      font-weight: bold;
      color: #ba1e60;
}
  .emphasis-4  {
    font-weight: bold
}

.logo-pink{
    width: 10%;
    margin: 20px;
}

.about-me {
    margin: 150px 80px 0 80px ;
}

.description {
    padding: 40px 80px 80px 80px;
}

.aboutme {
    padding: 100px;
    font-size: 30px;
    text-justify: auto;
}

.images {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 60px 0;
}
.icon {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100px;
    height: auto;
    display: flex;
}
.icon2 {
    justify-content: center;
    width: 30px;
    height: auto;
    display: flex;

}

/* button */
.button-get-to-know-me {
    margin-right: 20px;
}

.button {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #ed9121;
    font-size: 0.8rem;
    text-decoration: none;
    color: #000;
    margin-top:10px;
}
.button:hover {
    background-color:  #fff;
    color: #000;
}
.view-more-button {
    display: flex;
    justify-content: center;
    padding: 20px;

}

/* right side */
.page2-right {
    background-color: #fff;    
    justify-content: center;
    display: flex;
}

.naomi {
    justify-content: center;
    display: flex;

}
.naomi-pic{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


/* Media Query for Responsiveness */

@media (max-width: 992px) {
    .container-page2 {
        flex-direction: column;       
    }
    .page2 {
        flex: 1;
    }
    .naomi-pic {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .about-me {
        margin: 80px 50px 0 50px;
        font-size: 25px;
     
    }
    .description {
        padding: 50px 50px 10px 50px;
        font-size: 20px;
    }  
    .aboutme{
        padding: 20px 50px;
        font-size: 20px;
    }
    .images {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .icon{
        width: 25%;
    }
    .naomi-pic {
        margin: 80px;
    }
}


@media (max-width: 390px) {
    .about-me {
        margin: 80px 50px 0 50px;
        font-size: 25px;
     
    }
    .description {
        padding: 50px 50px 10px 50px;
        font-size: 20px;
    }  
    .aboutme{
        padding: 20px 50px;
        font-size: 20px;
    }
    .images {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .icon{
        width: 25%;
    }
    .naomi-pic {
        margin: 80px;
    }

}